$blue : #325785;
$lightblue : #3d6794;
$orange: #ff690f;
$title_lightdark: #333;
$text_lightdark: #565656;
$dot_grey: #cdd4db;



$nav-height : 100px;
$view-port : 1260px;
$fsize: 16px;

