@import "partials/params";
@import "partials/mixins";
@import url('https://fonts.googleapis.com/css?family=Muli:300,400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Catamaran:400,900&display=swap');


.testimonials {
    position: relative;
    width: 100%;
    height: 760px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
        @include catamaran-black;
        text-transform: uppercase;
        font-size: 60px;
        margin-bottom: 60px;
    }

     

    &__slider {
        

    & .slider__slide {
        
        top: 0;
        left: 0;
        // display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: none;
               

        & .slide__foto {
            
            width: 240px;
            height: 150px;
            margin-bottom: 15px;
           
            
        }
        
        & .slide__foto--one{
            background:url("img/testi_img_1.png") no-repeat  50% 50%,    
            url("img/quote.png") no-repeat 0 100%;
        }

        & .slide__foto--two{
            background:url("img/testi_img_2.png") no-repeat  50% 50%,    
            url("img/quote.png") no-repeat 0 100%;
        }

        & .slide__foto--three{
            background:url("img/testi_img_3.png") no-repeat  50% 50%,    
            url("img/quote.png") no-repeat 0 100%;
        }

        & .slide__foto--four{
            background:url("img/testi_img_4.png") no-repeat  50% 50%,    
            url("img/quote.png") no-repeat 0 100%;
        }

        & .slide__foto--five{
            background:url("img/testi_img_5.png") no-repeat  50% 50%,    
            url("img/quote.png") no-repeat 0 100%;
        }
        // 
        & .slide__name {
            @include catamaran-black;
            font-size: 18px;
            text-transform: uppercase;
            margin-bottom: 40px;
            
        }

        & .slide__quote {
            width: 830px;
            height: 50px;
            @include muli-light;
            font-size: 18px;
            text-align: center;
            
        }

        
    }
   }

   & .show {

    display: flex;
   
    
    }   

    &__dots {
        position: absolute;
        bottom: 10%;
        left: 47%;
        // width: 10px;
        // height: 10px;
        // border: 1px solid black;

        & .testimonials__dot {
            display: inline-block;
            width: 15px;
            height: 15px;
            border-radius: 50%; 
            // border: 1px solid black;
            margin-right: 10px;
            background-color: $dot_grey;
            cursor: pointer;
        }

        & .active {
            background-color: $orange;
        }
    }



}